@model Quiz.Models.CurrentTask
@{
    ViewData["Title"] = "Task";
}
<!DOCTYPE html>

<html>
<head>
    <title>All tasks</title>

</head>
<body>
    <div class="container">
        <p><strong>@Model.Name</strong></p>
        <p>@Model.Description</p>
        <div class="form-group">
            <label for="comment">Your code here:</label>
            <textarea class="form-control" rows="5" id="comment">@Model.Code</textarea>
        </div>
        <a href="~/Home/Task" class="btn btn-success" role="button">Next Task</a>
        <div class="@ViewBag.AlertClass">
            <strong>@ViewBag.AlertText</strong>
        </div>

    </div>

</body>
</html>
