@model Quiz.Models.ReturnValues
@{
    ViewData["Title"] = "Task";
}
<!DOCTYPE html>

<html>
<head>
    <title>All tasks</title>

</head>
<body>
    <div class="container">
        <p><strong>@ViewBag.CurrentTask.Name</strong></p>
        <p>@ViewBag.CurrentTask.ShortDescription</p>
        <p>@ViewBag.CurrentTask.FullDescription</p>

        <form asp-controller="Home" asp-action="Check" method="post">
            <div class="form-group">
                <label for="code">Your code here:</label>
                <textarea asp-for="Code" rows="7" class="form-control" id="code"></textarea>
            </div>
            @if (!@ViewBag.CurrentTask.Completed)
            {
                <button class="btn btn-success" type="submit">Check</button>
            }
        </form>
        <div class="@ViewBag.AlertClass">
            <strong>@ViewBag.AlertText</strong>  @ViewBag.Message
        </div>
        @if (@ViewBag.CurrentTask.Completed)
        {
            var id = ViewBag.CurrentTask.Id + 1;
            <a href="~/Home/Task/@id" class="btn btn-success" role="button">Next Task</a>
        }
    </div>

</body>
</html>
